<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuke.dao.TypeMapper" >
  <resultMap id="BaseResultMap" type="com.liuke.entity.Type" >
    <id column="tid" property="tid" jdbcType="INTEGER" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tid, typename
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from type
    where tid = #{tid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from type
    where tid = #{tid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuke.entity.Type" >
    insert into type (tid, typename)
    values (#{tid,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liuke.entity.Type" >
    insert into type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        tid,
      </if>
      <if test="typename != null" >
        typename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tid != null" >
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuke.entity.Type" >
    update type
    <set >
      <if test="typename != null" >
        typename = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where tid = #{tid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuke.entity.Type" >
    update type
    set typename = #{typename,jdbcType=VARCHAR}
    where tid = #{tid,jdbcType=INTEGER}
  </update>
</mapper>