<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mayikt.mapper.ActivityBlackListMapper" >
  <resultMap id="BaseResultMap" type="com.mtyikt.entity.ActivityBlackListPO" >
    <id column="black_list_id" property="blackListId" jdbcType="BIGINT" />
    <result column="activity_black_list_file_id" property="activityBlackListFileId" jdbcType="BIGINT" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="marketing_activity_id" property="marketingActivityId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    black_list_id, activity_black_list_file_id, phone_number, marketing_activity_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from activity_black_list
    where black_list_id = #{blackListId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from activity_black_list
    where black_list_id = #{blackListId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mtyikt.entity.ActivityBlackListPO" >
    insert into activity_black_list (black_list_id, activity_black_list_file_id, 
      phone_number, marketing_activity_id)
    values (#{blackListId,jdbcType=BIGINT}, #{activityBlackListFileId,jdbcType=BIGINT}, 
      #{phoneNumber,jdbcType=VARCHAR}, #{marketingActivityId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mtyikt.entity.ActivityBlackListPO" >
    insert into activity_black_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="blackListId != null" >
        black_list_id,
      </if>
      <if test="activityBlackListFileId != null" >
        activity_black_list_file_id,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="marketingActivityId != null" >
        marketing_activity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="blackListId != null" >
        #{blackListId,jdbcType=BIGINT},
      </if>
      <if test="activityBlackListFileId != null" >
        #{activityBlackListFileId,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="marketingActivityId != null" >
        #{marketingActivityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mtyikt.entity.ActivityBlackListPO" >
    update activity_black_list
    <set >
      <if test="activityBlackListFileId != null" >
        activity_black_list_file_id = #{activityBlackListFileId,jdbcType=BIGINT},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="marketingActivityId != null" >
        marketing_activity_id = #{marketingActivityId,jdbcType=BIGINT},
      </if>
    </set>
    where black_list_id = #{blackListId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mtyikt.entity.ActivityBlackListPO" >
    update activity_black_list
    set activity_black_list_file_id = #{activityBlackListFileId,jdbcType=BIGINT},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      marketing_activity_id = #{marketingActivityId,jdbcType=BIGINT}
    where black_list_id = #{blackListId,jdbcType=BIGINT}
  </update>
</mapper>