<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.unicom.microserv.ocsrtsp.activity.dao.PageVisitLogMapper" >
  <resultMap id="BaseResultMap" type="com.unicom.microserv.ocsrtsp.activity.po.PageVisitLog" >
    <id column="LOG_ID" property="logId" jdbcType="BIGINT" />
    <result column="PROVINCE_CODE" property="provinceCode" jdbcType="VARCHAR" />
    <result column="PROVINCE_NAME" property="provinceName" jdbcType="VARCHAR" />
    <result column="CITY_CODE" property="cityCode" jdbcType="VARCHAR" />
    <result column="CITY_NAME" property="cityName" jdbcType="VARCHAR" />
    <result column="ACC_NBR" property="accNbr" jdbcType="VARCHAR" />
    <result column="CARRIER" property="carrier" jdbcType="VARCHAR" />
    <result column="PAGE_CODE" property="pageCode" jdbcType="VARCHAR" />
    <result column="PAGE_NAME" property="pageName" jdbcType="VARCHAR" />
    <result column="BUTTON_CODE" property="buttonCode" jdbcType="VARCHAR" />
    <result column="BUTTON_NAME" property="buttonName" jdbcType="VARCHAR" />
    <result column="ACTION_GROUP_ID" property="actionGroupId" jdbcType="VARCHAR" />
    <result column="IP_ADDRESS" property="ipAddress" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    LOG_ID, PROVINCE_CODE, PROVINCE_NAME, CITY_CODE, CITY_NAME, ACC_NBR, CARRIER, PAGE_CODE, 
    PAGE_NAME, BUTTON_CODE, BUTTON_NAME, ACTION_GROUP_ID, IP_ADDRESS, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from PAGE_VISIT_LOG
    where LOG_ID = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from PAGE_VISIT_LOG
    where LOG_ID = #{logId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.unicom.microserv.ocsrtsp.activity.po.PageVisitLog" >
    insert into PAGE_VISIT_LOG (LOG_ID, PROVINCE_CODE, PROVINCE_NAME, 
      CITY_CODE, CITY_NAME, ACC_NBR, 
      CARRIER, PAGE_CODE, PAGE_NAME, 
      BUTTON_CODE, BUTTON_NAME, ACTION_GROUP_ID, 
      IP_ADDRESS, CREATE_TIME)
    values (#{logId,jdbcType=BIGINT}, #{provinceCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, 
      #{cityCode,jdbcType=VARCHAR}, #{cityName,jdbcType=VARCHAR}, #{accNbr,jdbcType=VARCHAR}, 
      #{carrier,jdbcType=VARCHAR}, #{pageCode,jdbcType=VARCHAR}, #{pageName,jdbcType=VARCHAR}, 
      #{buttonCode,jdbcType=VARCHAR}, #{buttonName,jdbcType=VARCHAR}, #{actionGroupId,jdbcType=VARCHAR}, 
      #{ipAddress,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.unicom.microserv.ocsrtsp.activity.po.PageVisitLog" >
    insert into PAGE_VISIT_LOG
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        LOG_ID,
      </if>
      <if test="provinceCode != null" >
        PROVINCE_CODE,
      </if>
      <if test="provinceName != null" >
        PROVINCE_NAME,
      </if>
      <if test="cityCode != null" >
        CITY_CODE,
      </if>
      <if test="cityName != null" >
        CITY_NAME,
      </if>
      <if test="accNbr != null" >
        ACC_NBR,
      </if>
      <if test="carrier != null" >
        CARRIER,
      </if>
      <if test="pageCode != null" >
        PAGE_CODE,
      </if>
      <if test="pageName != null" >
        PAGE_NAME,
      </if>
      <if test="buttonCode != null" >
        BUTTON_CODE,
      </if>
      <if test="buttonName != null" >
        BUTTON_NAME,
      </if>
      <if test="actionGroupId != null" >
        ACTION_GROUP_ID,
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="logId != null" >
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="provinceCode != null" >
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="accNbr != null" >
        #{accNbr,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null" >
        #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="pageCode != null" >
        #{pageCode,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null" >
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="buttonCode != null" >
        #{buttonCode,jdbcType=VARCHAR},
      </if>
      <if test="buttonName != null" >
        #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="actionGroupId != null" >
        #{actionGroupId,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.unicom.microserv.ocsrtsp.activity.po.PageVisitLog" >
    update PAGE_VISIT_LOG
    <set >
      <if test="provinceCode != null" >
        PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null" >
        PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR},
      </if>
      <if test="cityCode != null" >
        CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="cityName != null" >
        CITY_NAME = #{cityName,jdbcType=VARCHAR},
      </if>
      <if test="accNbr != null" >
        ACC_NBR = #{accNbr,jdbcType=VARCHAR},
      </if>
      <if test="carrier != null" >
        CARRIER = #{carrier,jdbcType=VARCHAR},
      </if>
      <if test="pageCode != null" >
        PAGE_CODE = #{pageCode,jdbcType=VARCHAR},
      </if>
      <if test="pageName != null" >
        PAGE_NAME = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="buttonCode != null" >
        BUTTON_CODE = #{buttonCode,jdbcType=VARCHAR},
      </if>
      <if test="buttonName != null" >
        BUTTON_NAME = #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="actionGroupId != null" >
        ACTION_GROUP_ID = #{actionGroupId,jdbcType=VARCHAR},
      </if>
      <if test="ipAddress != null" >
        IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where LOG_ID = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.unicom.microserv.ocsrtsp.activity.po.PageVisitLog" >
    update PAGE_VISIT_LOG
    set PROVINCE_CODE = #{provinceCode,jdbcType=VARCHAR},
      PROVINCE_NAME = #{provinceName,jdbcType=VARCHAR},
      CITY_CODE = #{cityCode,jdbcType=VARCHAR},
      CITY_NAME = #{cityName,jdbcType=VARCHAR},
      ACC_NBR = #{accNbr,jdbcType=VARCHAR},
      CARRIER = #{carrier,jdbcType=VARCHAR},
      PAGE_CODE = #{pageCode,jdbcType=VARCHAR},
      PAGE_NAME = #{pageName,jdbcType=VARCHAR},
      BUTTON_CODE = #{buttonCode,jdbcType=VARCHAR},
      BUTTON_NAME = #{buttonName,jdbcType=VARCHAR},
      ACTION_GROUP_ID = #{actionGroupId,jdbcType=VARCHAR},
      IP_ADDRESS = #{ipAddress,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where LOG_ID = #{logId,jdbcType=BIGINT}
  </update>
</mapper>